.experience {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.experience__row {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    margin-left: calc(50% - 250px);
    transition: 300ms;
    padding-bottom: 25px;
}

.experience__item {
    cursor: pointer;
    margin-bottom: 5px;
    border: 1px solid grey;
    border-radius: 12px;
    width: 450px;
    margin: 0 25px;
}

.experience__img {
    width: 446px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.experience__year {
    font-size: large;
    font-weight: bold;
    padding: 5px 15px;
    color: rgb(0, 180, 0);
}

.experience__name {
    font-size: larger;
    font-weight: bold;
    padding: 5px 15px;
}

.experience__anchor, .experience__description {
    padding: 5px 15px;
    text-decoration: none;
}

.experience__description {
    padding-bottom: 20px;
}

.experience__arrow {
    color: rgb(60, 61, 158);
}

.experience__arrows {
    height: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 15px;
    cursor: pointer;
    user-select: none;
}

@media (max-width: 700px) {
    .experience__item {
        width: 350px;
    }

    .experience__img {
        width: 348px;
        height: 180px;
    }

    .experience__row {
        margin-left: calc(50% - 200px);
    }
}


@media (max-width: 550px) {
    .experience__item {
        width: 220px;
        margin: 0 15px;
    }

    .experience__img {
        width: 218px;
        height: 100px;
    }

    .experience__row {
        margin-left: calc(50% - 125px);
    }
}
