* {
    box-sizing: border-box;
}

a:visited, a {
    /*color:blue;
    background-image: linear-gradient(90deg, rgb(0, 148, 216), rgb(0, 180, 0));
    background-color: #ffffff;*/
    background-color: #2AA5A0;
    background-image: linear-gradient(90deg, rgb(0, 79, 182), rgb(11, 138, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    padding: 35px 0 25px;
}

